name: Linting

on: pull_request

jobs:
  prettier:
    name: Prettier Ubuntu
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: "22"

      - run: npm ci

      - run: npm run lint:prettier:check
